.contact {
  height: 85vh;
}
.contact h2 {
  color: #2c3e50 !important;
}

.star {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star i {
  margin: 0 10px;
  color: #2c3e50 !important;
}

.star::before,
.star::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #2c3e50 !important;
}

input {
  border-bottom: 1px #2c3e50 solid !important;
}
input:focus {
  outline: none;
}
label {
  color: #1abc9c;
}
button {
  background-color: #1abc9c !important;
}
