.cursor-pointer {
  cursor: pointer;
}

.portfolio h2 {
  color: #2c3e50 !important;
}

.star {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star i {
  margin: 0 10px;
  color: #2c3e50 !important;
}

.star::before,
.star::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #2c3e50 !important;
}

.portfolio .container .row .layer {
  position: absolute;
  inset: 0;
  background-color: #29b197;
  opacity: 0;
  transition: opacity 0.5s;
}
.portfolio .container .row .layer i {
  color: #fff;
  font-size: 100px;
}

.portfolio .container .row .card:hover .layer {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.layer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 600px;
  width: 90%;
}

.image img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
