<section class="about-section text-white py-5 d-flex flex-wrap justify-content-center align-items-center flex-column">
    <div class="text-center ">
        <h2 class="fw-bold fs-1 pt-3 text-uppercase">
            about component
        </h2>

        <div class="star py-2 ">
            <span class="line"></span>
            <i class="fa-solid fa-star"></i>
            <span class="line"></span>
        </div>

        <div class="container ">
            <div class="row p-4">
                <div class="col-md-6 ">
                    <p>
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.
                    </p>
                </div>
                <div class="col-md-6 ">
                    <p>
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>