<footer class="text-light">

    <div class="footer-top py-5">
        <div class="container">
            <div class="row">

                <div class="one col-md-4 p-4 text-center ">
                    <h3 class="fs-2">
                        LOCATION
                    </h3>
                    <p class="mb-4">
                        2215 John Daniel Drive
                    </p>
                    <p class="fs-6">
                        Clark, MO 65243
                    </p>
                </div>




                <div class="col-md-4 p-4 text-center">
                    <h3 class="fs-2">
                        AROUND THE WEB
                    </h3>
                    <div class="icons py-3">
                        <i class="fa-brands fa-facebook mx-2"></i>
                        <i class="fa-brands fa-twitter mx-2"></i>
                        <i class="fa-brands fa-linkedin-in mx-2"></i>
                        <i class="fa-solid fa-globe mx-2"></i>
                    </div>
                </div>



                <div class="col-md-4 p-4 text-center">

                    <h3 class="fs-2">
                        ABOUT FREELANCER
                    </h3>
                    <p>
                        Freelance is a free to use, licensed Bootstrap theme created by Route
                    </p>




                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom py-5 text-center">
        <p>
            Copyright © Your Website 2021
        </p>
    </div>



</footer>