<section class="home-section text-white py-5  ">
    <div class="text-center pt-5 d-flex flex-wrap justify-content-center align-items-center flex-column">
        <div class="image mb-5 ">
            <img class="w-100" src="/images/imgi_1_avataaars.svg" alt="">
        </div>
        <h2 class="fw-bold pt-3 text-uppercase">
            start Framework
        </h2>

        <div class="star py-2 ">
            <span class="line"></span>
            <i class="fa-solid fa-star"></i>
            <span class="line"></span>
        </div>
        <span>
            Graphic Artist - Web Designer - Illustrator
        </span>
    </div>
</section>