<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-4 fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold fs-2 text-uppercase" routerLink="/home">Start Framework
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-uppercase fw-bolder mx-2" routerLinkActive="active" routerLink="/about"
                        aria-current="page">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase fw-bolder mx-2" routerLinkActive="active" routerLink="/portfolio"
                        aria-current="page">portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase fw-bolder mx-2" routerLinkActive="active" routerLink="contact"
                        aria-current="page">contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>